*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  line-height: 1.5;
  font-size: 62.5%;
}

body {
  background-image: url("../public/bg-full-moon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -40rem;
}
