.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-image: url("../public/bg-full-moon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -40rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
}

.main-header {
  color: aliceblue;
  font-size: 5rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.btn {
  transition: all 0.3s ease-in-out;
}

.btn {
  width: 15rem;
  height: 6rem;
  margin: 0.5rem;
  border-radius: 5rem;
  background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
  box-shadow: 0 2rem 3rem -6px rgba(238, 103, 97, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 2.4rem;
  color: white;
}

.btn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.btn:active {
  opacity: 0.5;
}
